<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/home"> </ion-back-button>
      </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img [src]="baseUrlImage + sizeImage + movie?.poster_path">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-chip *ngIf="movie?.vote_average >= 7" color="success">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <ion-label> Nota: {{movie?.vote_average}} </ion-label>
        </ion-chip>
        <ion-chip *ngIf="movie?.vote_average < 7 && movie?.vote_average >= 4" color="primary">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <ion-label> Nota: {{movie?.vote_average}} </ion-label>
        </ion-chip>
        <ion-chip *ngIf="movie?.vote_average < 4" color="danger">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <ion-label> Nota: {{movie?.vote_average}} </ion-label>
          </ion-chip>
      </ion-card-subtitle>
      
      <ion-card-title>
        {{movie?.title}}
        ({{movie?.release_date.slice(0, 4)}})
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> {{movie?.overview}} </p>
    </ion-card-content> 
  </ion-card>
  <ion-item> <p> Diretor - {{crew?.name}} </p> </ion-item>
  <ion-list>
    <ion-list-header> <h4> Elenco </h4> </ion-list-header>
    <ion-item *ngFor="let item of cast | slice:0:5">
      <ion-label> 
        <p> 
          {{item?.name}} - {{item?.character}} 
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
